@import '_base.scss';

.regiondDstribution {
  flex-direction: column;
}
.mapTable {
  clear: both;
  height: 480px;
  background: rgba(46, 47, 51, 1);
  border-radius: 6px;
  top: 20px;
  position: relative;
}
